<html>
    <head>
        <title>Kevin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Skin Traxx</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text | linebreaksbr}}</p>
            </div>
        {% endfor %}

        <div>
            <p>published 10.11.2019</p>
            <h2><a href="">Second Post</a></h2>
            <p>It rocked.</p>
        </div>   
    </body>    
</html>