<html>
    <head>
        <title>Kevin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Skin Traxx</a></h1>
        </div>

        <div>
            <p>published:10.11.2019</p>
            <h2><a href="">First Post</a></h2>
            <p>This playlist was created on the road to Refugio Frey.</p>
        </div>
        <div>
            <p>published 10.11.2019</p>
            <h2><a href="">Second Post</a></h2>
            <p>It rocked.</p>
        </div>   
    </body>    
</html>